.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  width: 300px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
}

.definition-card {
  background-color: #fff;
  color: #282c34;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  text-align: left;
}

.error {
  color: red;
}